* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}

img{
    max-width: 100%;
}

body {
    background-color:#eee ;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #333;
}

.board{
    border: 1px solid white;
    width: calc(50% + 2px);
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
    
}

.square {
    
    width: calc(100% / 3);
    height: calc(100% / 3);
    border: 1px solid white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-cross,
.right-cross,
.horizontal,
.vertical{
    position: relative;
}

.left-cross:after,
.right-cross:after,
.horizontal:after,
.vertical:after {
    position: absolute;
    content: '';
    width: 5px;
    height: 166%;
    background-color: white;
}

.left-cross:after {
    rotate: -52deg;
}
.right-cross:after {
    rotate: 52deg;
}

.horizontal:after {
    rotate: 90deg;
}
.vertical:after {
    rotate: 0;
}













.players {
    margin-top: 50px;
    
}

.players input {
    outline: none;
    border-radius: 8px;
    border: none;
}

.players input[type='text'] {
    padding: 5px 10px;
    margin-bottom: 10px;
    display: block;
}

.players button[type='submit'] {
    margin-left: 50%;
    transform: translate(-50%);
    padding: 5px 10px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
}

.info {
    color: white;
    font-size: 25px;
    margin-top: 50px;
}

.circle {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 8px solid #306844;
    border-radius: 50%;
}

.cross {
    position: relative;
    transform-origin: center;
}

.cross::before,
.cross::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 60px;
    background-color: rgb(214, 54, 43);
    translate: -50% -50%;
}

.cross::before {
    rotate: -45deg;
}

.cross::after {
    rotate: 45deg;
}

@media (max-width:500px) {
    .cross::before,
.cross::after {
    width: 8px;
    height: 40px;
}

.circle {
    width: 40px;
    height: 40px;
}
}

.pop {
    animation:popt 0.5s;
}

@keyframes popt{
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

