* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    
}

:root {
    --main-bg-clr:#d96846;
    --board-bg-clr:#2f3020;
    --squares-bg-clr:#596235;
    --fnt-clr:#cdcbd6;
}

img{
    max-width: 100%;
}

body {
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--board-bg-clr);
    transform-origin: center;
}



.board{
    border: 5px solid var(--squares-bg-clr);
    width: calc(50% + 2px);
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 4px #ffffff36;
    position: relative;
    background-color: var(--board-bg-clr);
}

.square {
    overflow: hidden;
    min-width: calc(100% / 3);
    min-height: calc(100% / 3);
    border: 1px solid var(--board-bg-clr);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--squares-bg-clr);
    border-radius: 15px;
}


.left-cross,
.right-cross,
.horizontal,
.vertical{
    position: relative;
}

.left-cross:after,
.right-cross:after,
.horizontal:after,
.vertical:after {
    position: absolute;
    content: '';
    width: 5px;
    height: 166%;
    background-color: var(--board-bg-clr);
    border-radius: 15px;
}

.left-cross:after {
    rotate: -52deg;
}
.right-cross:after {
    rotate: 52deg;
}

.horizontal:after {
    rotate: 90deg;
}
.vertical:after {
    rotate: 0;
}













.players {
    margin-top: 50px;
    
}

.players input {
    outline: none;
    border-radius: 8px;
    border: none;
}

.players input[type='text'] {
    padding: 5px 10px;
    margin-bottom: 10px;
    display: block;
}

.players button {
    margin-left: 50%;
    transform: translate(-50%);
    padding: 5px 10px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
}

.info {
    color: var(--fnt-clr);
    font-size: 25px;
    margin-top: 50px;
}

.circle {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 8px solid var(--board-bg-clr);
    border-radius: 50%;
}

.cross {
    position: relative;
    transform-origin: center;
    
}

.cross::before,
.cross::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 60px;
    background-color: var(--main-bg-clr);
    translate: -50% -50%;
    border-radius: 8px;
}

.cross::before {
    rotate: -45deg;
}

.cross::after {
    rotate: 45deg;
}

@media (max-width:500px) {
    .cross::before,
.cross::after {
    width: 8px;
    height: 40px;
}

.circle {
    width: 40px;
    height: 40px;
}
}

.pop {
    animation:popt 0.5s;
}

@keyframes popt{
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}


.big-cross-right::after {
    content: '';
    position: absolute;
    width: 5px ;
    height: 100%;
    background-color: red;
    left: 50%;
}

.d-none {
    visibility: hidden;
    opacity: 0;
}

.replay {
    padding: 5px;
    margin-top: 36px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.players-count-wins {

    margin-bottom: 30px;
}

h3 {
    color: #eee;
    margin-bottom: 10px;

}
